/* styles for home and categories */
.principal{
    -fx-pref-height: 25.0;
    -fx-pref-width: 108.0;
    -fx-padding: 10.0 10.0 15.0 10.0;
    -fx-font-size: 12px;
    -fx-alignment: center-left; /* Alineación del contenido */
    -fx-graphic-text-gap: 5px; /* Espaciado entre texto e imagen */

}
/* principal.btnhome // principal.btncategorias*/
.icon{
     -fx-padding: 0px 0px 0px 10px; /* Espaciado de la imagen */
}

/* apply styles for the buttons in the left (status) */
.status {
    -fx-pref-height: 25.0;
    -fx-pref-width: 133.0;
    -fx-padding: 10.0 10.0 10.0 10.0;
}
.status.btnPendiente {
    -fx-text-fill: #622E1D;
}
.status.btnProgreso {
    -fx-text-fill: #b7950b;
}
.status.btnTerminado {
    -fx-text-fill: #5bb830;
}

/* add button */
.actions {
    -fx-pref-height: 35.0;
    -fx-pref-width: 125.0;
    -fx-background-radius: 10;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-padding: 6px 15px;
}

.actions .icon {
    -fx-alignment: center-right;
}

.actions .text {
    -fx-alignment: center-left;
}

/* adding styles for add and delete btns, hover and colors*/
.btnAdd{
    -fx-background-color: white;
    -fx-text-fill:#006400;
    -fx-border-color: #90EE90;
}
.btnAdd .icon {
    -fx-fill: #006400;
}
.btnAdd:pressed {
    -fx-background-color: linear-gradient(to bottom, #90EE90, #e0e0e0);
}
.btnAdd:hover {
    -fx-background-color: linear-gradient(to bottom, #90EE90, #e0e0e0);
}

.btnDelete{
    -fx-background-color: white;
    -fx-text-fill: #8B0000;
    -fx-border-color: #FFC0CB;
}
.btnDelete .icon {
    -fx-fill: #8B0000;
}
.btnDelete:hover {
    -fx-background-color: linear-gradient(to bottom, #FFC0CB, #e0e0e0);
}
.btnDelete:pressed {
    -fx-background-color: linear-gradient(to bottom, #FFC0CB, #e0e0e0);
}

/* btn cancelar without styles*/
.btnCancelar {
    -fx-background-color: white;
    -fx-border-color:#D3D3D3;
    -fx-text-fill: gray;
}
.btnCancelar:hover {
    -fx-background-color: linear-gradient(to bottom, #D3D3D3, #e0e0e0);
}

.btnCancelar:pressed {
    -fx-background-color: linear-gradient(to bottom, #D3D3D3, #e0e0e0);
}

